/* RESPONSIVE TABLET */

@media screen and (min-width: 769px) and (max-width:1024px) {

    .content-recently-played {
        flex-wrap: wrap;
    }

    .card {
        width: calc((100% - (16px * 3)) / 4);
    }

    .logo-responsive{
        display: none;
    }

}

/* RESPONSIVE MOBILE STANDARD */

@media screen and (max-width: 768px) {

    .logo-responsive{
        display: none;
    }

    .menu-libreria {
        flex-wrap: wrap;
    }

    .content-recently-played {
        flex-wrap: wrap;
    }

    .card {
        width: calc((100% - 16px) / 2);
    }

}

/* RESPONSIVE MOBILE PICCOLO */

@media screen and (max-width: 480px) {

     /* SIDEBAR MOBILE */
    .nav-bar-left {
        width: 80px;
        padding-left: 0;
        align-items: center;
    }

    .nav-bar-left img:first-child {
        display: none;
    }

    /* LOGO stile icona */
    .nav-bar-left img {
        width: 28px;
        height: auto;
        margin: 20px 0;
        padding: 0;
    }

    /* Nascondi testi dei link */
    .nav-bar-left a {
        font-size: 0;
        /* nasconde il testo */
        padding: 0;
    }

    /* Mostra solo le icone */
    .nav-bar-left a i {
        font-size: 22px;
        margin: 0;
    }

    /* Allinea verticalmente le icone */
    .nav-bar-left li {
        display: flex;
        justify-content: center;
        padding: 12px 0;
    }

    .playlist {
        display: none;
    }


    /* PLAYLIST nascoste completamente */
    .playlist-wrapper {
        display: none;
    }

    /* Installa app → solo icona */
    .installa-app {
        border-bottom: none;
        width: auto;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    .installa-app i {
        font-size: 22px;
    }

    /* Profilo → solo icona */
    .john-doe {
        font-size: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    .john-doe i {
        font-size: 26px;
    }

    .libreria{
        width: calc(100vh - 80px);
    }
}

