/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

/* REGOLE GENERALI */

main {
    display: flex;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: white;
}


/**************************** NAV BAR LEFT *******************************/
.nav-bar-left {
    width: 200px;
    background-color: #000000;
    position: relative;
}

.nav-bar-left img {
    padding-top: 10px;
    padding-left: 18px;
    height: 7%;
}

.installa-app {
    position: absolute;
    bottom: 50px;
}


.john-doe {
    position: absolute;
    bottom: 0;
}



/**************************** LIBRERIA *******************************/
.libreria {
    width: calc(100% - 200px);
    background-color: #141922;
    overflow: auto;

}

.header-libreria {
    height: 80px;
    background-color: #090b13;
    opacity: 0.7;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: end;
}

.effettua-upgrade {
    padding: 10px 30px 10px 30px;
    margin: 20px;
    border-radius: 30px;
    color: white;
    background-color: #090b13;
    border: 1px solid;

}

.container-libreria {
    height: calc(100vh - 180px);
}


/**************************** FOOTER *******************************/
footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: fixed;
}