/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

/* REGOLE GENERALI */

main {
    display: flex;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
}

li {
    margin-top: 15px;
}

.white {
    color: white;
}

.fa-solid {
    font-size: 25px;
}

.fa-solid:hover {
    color: white;
}

.fa-plus:hover {
    background-color: white;
    color: #000000;
}

.fa-regular {
    font-size: 25px;
}

.font-size-icon-small {
    font-size: 15px;
}

.font-size-icon-big {
    font-size: 35px;
}


/**************************** NAV BAR LEFT *******************************/
.nav-bar-left {
    width: 200px;
    background-color: #000000;
    position: relative;
    padding-left: 20px;
}

.nav-bar-left img {
    padding-top: 10px;
    height: 7%;
    margin-bottom: 20px;

}

.playlist {
    margin-top: 30px;
}

.fa-plus {
    background-color: gray;
    color: #000000;
    margin-right: 10px;
    padding: 10px;
    padding-right: 32px;
}

.installa-app {
    position: absolute;
    bottom: 50px;
    border-bottom: 1px solid;
    padding: 10px;
    width: 80%;
}


.john-doe {
    position: absolute;
    bottom: 0;
    color: white;
}



/**************************** LIBRERIA *******************************/
.libreria {
    width: calc(100% - 200px);
    background-color: #141922;
    overflow: auto;

}

.header-libreria {
    height: 80px;
    background-color: #090b13;
    opacity: 0.7;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: end;
}

.effettua-upgrade {
    /* padding: 10px 30px 10px 30px;*/
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
    border-radius: 30px;
    color: white;
    background-color: #090b13;
    border: 1px solid;
    margin-right: 20px;
}

.effettua-upgrade:hover {
    font-size: 16px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-libreria {
    height: calc(100vh - 180px);
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.menu-libreria {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.border-bottom-green {
    border-bottom: 2px solid green;
}

.recently-played {
    margin-top: 30px;
}

.content-recently-played {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.card {
    width: calc((100% - (16px * 5)) / 6);
}


.card img{
    max-width: 100%;
    max-height: 100%;
}

figcaption{
    display: flex;
    justify-content: center;
    margin: 10px;
}

figcaption .white{
    font-size: 19px;
}

.creato-per-john-doe{
    margin-top: 30px;
  

}

.content-creato-per-john-doe{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;

}

/**************************** FOOTER *******************************/
footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: fixed;
    display: flex;
    /* Attiva Flexbox */
    flex-direction: row;
    /* Allinea gli elementi in riga (comportamento predefinito) */
    justify-content: space-between;
    /* Distribuisce lo spazio tra gli elementi */
    align-items: center;
    /* Allinea verticalmente gli elementi al centro */
    padding: 10px;

}

/**************************** FOOTER LEFT *******************************/
.left-footer-content img {
    width: 25%;
}

.left-footer-content {
    width: 20%;
    display: flex;
    /* Attiva Flexbox */
    flex-direction: row;
    /* Allinea gli elementi in riga (comportamento predefinito) */
    gap: 10px;
    align-items: center;
}

.left-footer-content div {
    margin-right: 25px;
}

.sottolineatura:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.fa-heart:hover {
    color: white;
    cursor: pointer;

}

.fa-folder:hover {
    color: white;
    cursor: pointer;
}

/**************************** FOOTER CENTER *******************************/
.center-footer-content {
    width: 50%;

}

.icon-play-music {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    cursor: pointer;

}

.fa-circle-play:hover {
    font-size: 40px;
    margin-bottom: none;

}

.flex-center-footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.barra-tempo-musica {
    width: 80%;
    /* larghezza della barra */
    height: 5px;
    /* spessore linea */
    background-color: #4f4f4f;
    /* grigio scuro */
    border-radius: 2px;
    overflow: hidden;
    /* serve per tagliare l’interno */


}

.barra-avanzamento-musica {
    height: 100%;
    background-color: gray;
    /* #1db954 */
    /* verde Spotify */
    border-radius: 2px;
    cursor: pointer;
}

.barra-avanzamento-musica:hover {
    background-color: #1db954;
}

/**************************** FOOTER RIGHT *******************************/
.right-footer-content {
    width: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.barra-tempo-volume {
    width: 50%;
    /* larghezza della barra */
    height: 5px;
    /* spessore linea */
    background-color: #4f4f4f;
    /* grigio scuro */
    border-radius: 2px;
    overflow: hidden;
    /* serve per tagliare l’interno */

}

.barra-avanzamento-volume {
    height: 100%;
    background-color: gray;
    /* #1db954 */
    /* verde Spotify */
    border-radius: 2px;
    cursor: pointer;
}

.barra-avanzamento-volume:hover {
    background-color: #1db954;

}